.size {
    color: #002C6A;
    font-size: 16px;
    padding: 3px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .4s;
}

.size:hover {
    color: #ffffff;
    background: #002C6A;
}